.icon-filter {
  width: 32px;
  height: 32px;
}

.icon-filter-main {
  width: 64px;
  height: 64px;
}

hr {
  border-width: 1px;
}

.title {
  margin-left: -20px;
  margin-right: -80px;
  font-size: 20px;
  color: slategray;
}

.text {
  color: cornflowerblue;
}

.filter-title {
  font-size: 24px;
  margin-left: 11px;
  color: yellowgreen;
}
