<!-- [translucent]="true" -->
<ion-header *ngIf="building['PICTURE']" parallax imageUrl="{{building['PICTURE']}}" titleColor="white">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ building['SHORTENED_NAME'] }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="!building['PICTURE']">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ building['SHORTENED_NAME'] }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="leed"
[class.platinum]="building['LEED_CERTIFICATION'] == 'PLATINUM'"
[class.gold]="building['LEED_CERTIFICATION'] == 'GOLD'"
[class.silver]="building['LEED_CERTIFICATION'] == 'SILVER'"
>

  <div *ngIf="building['PICTURE']">
    <br><br>
  </div>
  <div class="ion-text-center">
    <div class="ion-text-wrap" lines="none">
      <!-- <ion-label> -->
        <h1>
          {{building["FULL_NAME"]}}
        </h1>
      <!-- </ion-label> -->
    </div>

    <marquee style="font-style: italic" height="30px" *ngIf="building['LEED_CERTIFICATION']" hspace="10vw" truespeed scrollamount="10">
      LEED CERTIFICATION: {{building['LEED_CERTIFICATION']}}
    </marquee>

    <ion-item color="danger" *ngIf="!building['LEED_CERTIFICATION']" class="ion-text-center" lines="none">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label class="ion-text-wrap">NO LEED CERTIFICATION</ion-label>
    </ion-item>

  </div>

  <div class="ion-text-wrap ion-padding">
    <p *ngFor="let d of building['DESCRIPTION']">
      {{d}}
    </p>

    <ion-item-group *ngIf="building['LEED HIGHLIGHTS'] != '' " >
      <ion-item-divider>
        <ion-label>LEED Highlights</ion-label>
      </ion-item-divider>

      <ion-item class="ion-text-wrap" *ngFor="let lh of building['LEED HIGHLIGHTS']; let i = index" lines="none">
        <ion-note color="dark" slot="start">{{i+1}}.</ion-note>
        <ion-label class="ion-text-wrap">{{lh}}</ion-label>
      </ion-item>
    </ion-item-group>

    <br>

    <ion-item-group *ngIf="building['SIZE'] && building['CONSTRUCTION COST'] && building['COMPLETION DATE']">
      <ion-item-divider>
        <ion-icon slot="start" name="business"></ion-icon>
        <ion-label class="ion-text-wrap">Building Details</ion-label>
      </ion-item-divider>

      <ion-item lines="inset">
        <ion-icon slot="start" name="expand-outline"></ion-icon>
        <ion-label class="ion-text-wrap">Size: {{building["SIZE"]}}</ion-label>
      </ion-item>

      <ion-item lines="inset">
        <ion-icon slot="start" name="construct-outline"></ion-icon>
        <ion-label class="ion-text-wrap">Construction Cost: {{building["CONSTRUCTION COST"]}}</ion-label>
      </ion-item>

      <ion-item lines="inset">
        <ion-icon slot="start" name="construct"></ion-icon>
        <ion-label class="ion-text-wrap">Completion Date: {{building["COMPLETION DATE"]}}</ion-label>
      </ion-item>
    </ion-item-group>

    <br>

    <ion-item-group *ngIf="building['AWARDS'] != ''">
      <ion-item-divider>
        <ion-icon slot="start" name="trophy-outline"></ion-icon>
        <ion-label class="ion-text-wrap">Awards</ion-label>
      </ion-item-divider>

      <ion-item lines="inset" *ngFor="let award of building['AWARDS']; let i = index">
        <ion-note color="dark" slot="start">{{i+1}}.</ion-note>
        <ion-label class="ion-text-wrap">{{award}}</ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group *ngIf="building['PROJECT TEAM'] != ''">
      <ion-item-divider>
        <ion-icon slot="start" name="people"></ion-icon>
        <ion-label class="ion-text-wrap">Project Team</ion-label>
      </ion-item-divider>

      <ion-item lines="inset" *ngFor="let team of building['PROJECT TEAM']; let i = index">
        <ion-note color="dark" slot="start">{{i+1}}.</ion-note>
        <ion-label class="ion-text-wrap">{{team}}</ion-label>
      </ion-item>

    </ion-item-group>
  </div>

</ion-content>
