ion-item.platinum {
  --background: linear-gradient(#9f49fe, #ffffff);
}

ion-item.gold {
  --background: linear-gradient(#fff30d, #ffffff);
}

ion-item.silver {
  --background: linear-gradient(#c1c1c1, #ffffff);
}
