
<ion-content [fullscreen]="true">
  <div class="setSize">
    <h2 class="ion-text-center">{{building["FULL_NAME"]}}</h2>
    <ion-item class="no-space" lines="none">
      <h6 class="ion-text-center" *ngIf="building['SHORTENED_NAME'] != building['FULL_NAME']">({{building['SHORTENED_NAME']}})</h6>
      <a slot="end" (click)="dismiss(true)"><ion-icon color="primary" name="arrow-forward-circle-outline"></ion-icon></a>
    </ion-item>
    <br><br>
    <p scrollY="true" scrollX="False" class="ion-text-wrap ion-align-self-stretch">{{description}}</p>
  </div>

  <div class="footer">
    <div class="scrollmenu" scrollX="true">
      <span><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
      <span><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
      <span><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
      <span><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
      <span><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
      <span><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
      <span><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
      <span><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
      <span><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
      <span><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
      <span><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
      <span><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
      <span><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
      <span><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
      <span><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
    </div>
  </div>
</ion-content>
