<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu menuId="insideMap" contentId="main-content" type="overlay">
      <ion-content>
        <ion-list>
          <ion-list-header>Filters</ion-list-header>
          <ion-note>*Note: You can click on multiple filters</ion-note>

          <ion-item *ngFor="let filter of filters" lines="none" (click)="filter['ACTIVE'] = !filter['ACTIVE']; publishEvent(filter['FILTER_NAME'], filter);">
            <ion-icon *ngIf="!filter['ACTIVE']" slot="start" name="bookmark-outline"></ion-icon>
            <ion-icon *ngIf="filter['ACTIVE']" slot="start" name="bookmark"></ion-icon>
            <ion-label>{{ filter['FILTER_NAME'] }}</ion-label>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-list-header>Buildings</ion-list-header>
          <ion-note>*Note: You can also click and hold the building on the map*</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of buildings; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="forward" [routerLink]="[p['URL']]" lines="none" detail="false" [class.selected]="selectedIndex == i">
            <!-- <ion-item (click)="selectedIndex = i; goToPage(selectedIndex)" lines="none" detail="false" [class.selected]="selectedIndex == i"> -->
              <ion-icon *ngIf="selectedIndex != i" slot="start" name="business-outline"></ion-icon>
              <ion-icon *ngIf="selectedIndex == i" slot="start" name="business"></ion-icon>
              <ion-label>{{ p['SHORTENED_NAME'] }}</ion-label>
              <ion-label class="ion-text-wrap"><p>{{ p['FULL_NAME'] }}</p></ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-menu menuId="outsideMap" contentId="main-content" type="overlay">
      <ion-content>

        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="selectedIndex = -1" routerDirection="backward" [routerLink]="['/']" lines="none" detail="false">
          <!-- <ion-item (click)="selectedIndex = -1; goToPage(selectedIndex)" lines="none" detail="false"> -->
            <ion-icon slot="start" name="map-outline"></ion-icon>
            <ion-label>Back to Map</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-list>
          <ion-list-header>Buildings</ion-list-header>
          <ion-note>*Note: You can also click and hold the building on the map*</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of buildings; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="forward" [routerLink]="[p['URL']]" lines="none" detail="false" [class.selected]="selectedIndex == i">
            <!-- <ion-item (click)="selectedIndex = i; goToPage(selectedIndex)" lines="none" detail="false" [class.selected]="selectedIndex == i"> -->
              <ion-icon *ngIf="selectedIndex != i" slot="start" name="business-outline"></ion-icon>
              <ion-icon *ngIf="selectedIndex == i" slot="start" name="business"></ion-icon>
              <!-- <ion-label>{{ p.Full_Name }}</ion-label> -->
              <ion-label>{{ p['SHORTENED_NAME'] }}</ion-label>
              <ion-label class="ion-text-wrap"><p>{{ p['FULL_NAME'] }}</p></ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
