.titles {
  padding: 0px;
  // font-size: 2vh;
}

.titleTop {
  padding-top: 0vh;
}

.agree {
  height: fit-content;
  width: fit-content;
  padding-bottom: 2em;
  display: inline-block;
}

.slide {
  display: block;
}
