.titles {
  padding: 0px;
  // font-size: 2vh;
}

.titleTop {
  padding-top: 0vh;
}

.titleSlide {
  padding: 0vh;
  margin: 0vh;
  padding-top: 10em;
}

// .dispBlock {
//   overflow-y: scroll
//   height: //need to determine
// }

.agree {
  height: fit-content;
  width: fit-content;
  padding-bottom: 2em;
  display: inline-block;
}

.titleAgree {
  padding-top: 4em;
}

.slide {
  display: block;

  // height: auto;
  // overflow-y: auto;
  // overflow-x: hidden;
}

ion-content {
  --background: linear-gradient(192deg, #13BE1C, transparent);
  // height: 100%;
}

.slider-wrapper:not(.swiper-slide-active) > div {
    display:none;
}

.swipe-container {
  height: initial
}

.slider-slides {
   display: flex;
   flex-direction: row;
}

.slider-slide {
   height: auto;
}
