<?xml version='1.0' encoding='utf-8'?>
<widget id="io.apro.susmap" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SusMap</name>
    <description>An awesome Ionic/Cordova app build by Armaan Kapoor.</description>
    <author email="akapoor3@ucmerced.edu" href="https://github.com/Apro123/SusMap">Armaan Kapoor</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="false" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="assets/images/Sustainability_logo.png" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="ErrorUrl" value="404.html" />
</widget>
