<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sustainability Map
    </ion-title>
    <!-- <ion-button (click)="printData()">print</ion-button> -->
  </ion-toolbar>
</ion-header>

<!-- [fullscreen]="true -->

<ion-content padding>
  <div id="map_canvas">
    <!-- <ion-fab vertical="top" horizontal="start" slot="fixed">
      <ion-fab-button>
        <ion-icon name="color-filter-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button *ngFor="let filter of filters" (click)="filter['ACTIVE'] = !filter['ACTIVE']">

        </ion-fab-button>
      </ion-fab-list>
    </ion-fab> -->

  </div>
</ion-content>
