#map_canvas {
  width: 100%;
  height: 90vh;
}

.infoWindow {
  padding: 0px !important;
  margin: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
